body {
  margin: 0;
  padding: 0;
  font-family: 'Volte';
  font-size: 16px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
}
.sp{
  padding-top: 80px;
  padding-bottom: 80px;
}
h1 {
	font-weight: bold;
	font-size: 65px;
	color: #FFFFFF;
}
p {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	color: #FFFFFF;
}

.bg_white{
  background-color: white;
}
.pt_0{
  padding-top: 0px;
}
.pb_0{
  padding-bottom: 0px;
}
#page-top {
    overflow-x: hidden !important;
}


/* Hero Section Css  */
.header_area {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1010;
	padding: 45px 0px;
}
.menu ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu ul li a {
	font-family: Volte;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	color: #FFFFFF;
	margin-left: 62px;
	transition: 0.5s;
	cursor: pointer;
}
.logo a {
	color: #FFF;
	font-size: 29px;
	font-weight: 700;
	cursor: pointer;
}
.menu ul li a:hover {
	color: #111;
	transition: 0.5s;
}
.menu ul li:last-child a {
	background: #fff;
	color: #9E00BF;
	padding: 5px 34px;
  transition: 0.5s;
	border-radius: 28px;
}
.menu ul li:last-child a:hover {
  background: #9E00BF;
  color: #FFF;
  transition: 0.5s;
}
.header_area .row{
  align-items: center;
}
.banner_content a {
	background: #fff;
	color: #9E00BF;
	padding: 7px 55px;
	transition: 0.5s;
	border-radius: 28px;
	font-size: 33px;
	font-weight: 600;
	display: inline-block;
}
.banner_content a:hover {
	background: #9E00BF;
	color: #FFF;
	transition: 0.5s;
}
.banner_section {
	background-image: url('../images/banner/hero-background-imag.png');
	background-repeat: no-repeat;
  padding-top: 130px;
  background-size: 100%;
}
.banner_content {
	padding-top: 100px;
  padding-bottom: 242px;
}
.about_section{
  background: #FFF;
}
.banner_content p {
	padding-top: 25px;
	padding-bottom: 85px;
}